<!DOCTYPE html>
<html>
  <head>
    <title>Pruebafinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
   		<%= link_to "edit user", edit_user_registration_path(@user) %> 
    <% else %>
          <li><a href="<%= new_user_session_path %>"> Login </a></li>
          <li><a href="<%= new_user_registration_path %>"> Registro </a></li>
    <% end -%>
    <%= yield %>
  </body>
</html>
